{% extends "base.html" %}
{% block title %}{% if modo == 'nueva' %}Nueva {{ tipo_legible }}{% else %}Editar {{ tipo_legible }}{% endif %}{% endblock %}

{% block content %}
  <h2>{% if modo == 'nueva' %}Nueva {{ tipo_legible }}{% else %}Editar {{ tipo_legible }}{% endif %}</h2>
  <p><a class="btn btn-ghost" href="{% url 'pack_detail' pack.pk %}">← Volver al pack</a></p>

  <div class="card">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a class="btn btn-ghost" href="{% url 'pack_detail' pack.pk %}">Cancelar</a>
    </form>
  </div>
{% endblock %}
